body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    background-color: aquamarine;
  }
  .todo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .completed {
    text-decoration: line-through;
  }